# ignore everything
*

# except these
!Cargo.lock
!Cargo.toml
!index.html
!LICENSE
!openapi.yaml
!README.md
!regtest.sh
!rust-lightning/
!src/

# but still ignore these
rust-lightning/.git
rust-lightning/.github
rust-lightning/.gitignore
