[package]
name = "rgb-lightning-node"
version = "0.1.0"
edition = "2021"

[[bin]]
name = "rgb-lightning-node"

[dependencies]
anyhow = "1.0.72"
axum = "0.6.19"
axum-extra = "0.7.5"
# axum-macros = "0.3.8"  # uncomment to use debug_handler
base64 = "0.13.0"
bdk = { version = "0.28", features = ["electrum", "keys-bip39"] }
bech32 = "0.8"
bitcoin = { package = "bitcoin", version = "0.29.2" }
bitcoin-bech32 = "0.12"
bitcoin_30 = { package = "bitcoin", version = "0.30.0" }
chacha20poly1305 = { version = "0.10.1", features = ["stream"] }
chrono = { version = "0.4", default-features = false, features = ["clock"] }
clap = "4.3.19"
dirs = "5.0.1"
futures = "0.3"
hyper = "0.14.27"
libc = "0.2"
lightning = { version = "0.0.118", features = ["max_level_trace"], path = "./rust-lightning/lightning" }
lightning-background-processor = { version = "0.0.118", features = ["futures"], path = "./rust-lightning/lightning-background-processor" }
lightning-block-sync = { version = "0.0.118", features = ["rpc-client", "tokio"] }
lightning-invoice = { version = "0.26", path = "./rust-lightning/lightning-invoice" }
lightning-net-tokio = { version = "0.0.118" }
lightning-persister = { version = "0.0.118", path = "./rust-lightning/lightning-persister" }
lightning-rapid-gossip-sync = { version = "0.0.118" }
magic-crypt = "3.1.12"
miniscript = { version = "8.0", features = ["serde"] }
rand = "0.8.5"
reqwest = { version = "0.11", default-features = false, features = ["json", "multipart", "native-tls", "stream"] }
scrypt = "0.11.0"
serde = { version = "^1.0", features = ["derive"] }
serde_json = "1.0"
tempfile = "3.8.0"
thiserror = "1.0"
tokio = { version = "1", features = ["io-util", "macros", "rt", "rt-multi-thread", "signal", "sync", "net", "time"] }
tokio-util = { version = "0.7.4", features = ["codec"] }
tower-http = { version = "0.4.3", features = ["cors", "trace"] }
tracing = "0.1"
tracing-appender = "0.2.2"
tracing-subscriber = { version = "0.3", features = ["env-filter"] }
typenum = "1.16.0"
walkdir = "2.3.3"
zip = { version = "0.6.6", default-features = false, features = ["time", "zstd"] }

# RGB-related deps
amplify = "=4.5.0"
bp-core = "=0.10.11"
rgb-lib = { git = "https://github.com/RGB-Tools/rgb-lib", branch = "master" }
rgb-std = "=0.10.9"
rgb-wallet = "=0.10.9"
rgb_core = { package = "rgb-core", version = "=0.10.8" }
strict_encoding = "=2.6.1"
strict_types = "=1.6.3"

[dev-dependencies]
dircmp = "0.2.0"
electrum-client = "0.17.0"
mime = "0.3.17"
once_cell = "1.17.1"
regex = "1.9.5"
serial_test = "2.0.0"
time = { version = "0.3.20", features = ["std"] }
tower = "0.4.13"
tracing-test = "0.2.4"

[patch.crates-io]
commit_verify = { path = "./client_side_validation/commit_verify" }
lightning = { path = "./rust-lightning/lightning" }
lightning-background-processor = { path = "./rust-lightning/lightning-background-processor"}
rgb-std = { path = "./rgb-wallet/std" }
rgb-wallet = { path = "./rgb-wallet" }
